.detail{
    display: flex;
    align-items: center;
    justify-content: center ;
   .detail_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
    img{
        width: 350px;
    }
    h3{
        color: #DB7093;
        font-size: 30px;
    }
    h4{
        color: #DB7093;
        font-size: 28px;
    }
    span{
        color: #DB7093;
        font-size: 25px;
    }
    -webkit-animation: detail 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: detail 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes detail {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes detail { 
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  